/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: yellowgreen;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(4, 31, 230);
}

ul {
  list-style: none;
}

/* Main Image */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f4f4f4;
}

#dogs-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
