* {
  margin: 0;
}

body {
  background-color: #ff5733;
}

.box {
  background-color: blue;
  width: 300px;
  padding: 20px;
  border: 5px solid red;
  margin: 10px;
  color: wheat;
}

footer {
  background: radial-gradient(circle, blue, green);
  margin-top: 20px;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 2em; /* em units are scalable according to parent font */
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  line-height: 1.6;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: green;
}

.table {
  background-color: aquamarine;
  text-align: start;
  letter-spacing: 2px;
  word-spacing: 1px;
}

#form {
  margin-top: 30px;
}

input[name="username"] {
  background-color: green;
}

td {
  /* 1st/2nd value is length (shadow distance from text; 3rd value is blur radius (optional) */
  text-shadow: 10px 10px 1px rgb(234, 138, 138);
}
